server:
  port: 8081

spring:
  application:
    name: auth-user-service

  data:
    mongodb:
      uri: mongodb+srv://educonnect:educonnect123@educonnect.sjmtr4c.mongodb.net/?appName=educonnect
      database: educonnect
      auto-index-creation: true

    redis:
      host: localhost
      port: 6379
      timeout: 6000ms
      lettuce:
        pool:
          max-active: 10
          max-idle: 5
          min-idle: 2

  kafka:
    enabled: true

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    registry-fetch-interval-seconds: 5
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

jwt:
  secret: my-super-secret-jwt-key-for-educonnect-platform-minimum-256-bits-required
  expiration: 86400000
  refresh-expiration: 604800000

app:
  two-factor:
    enabled: true
  password-reset:
    token-expiration: 3600000

logging:
  level:
    root: INFO
    com.tcon.auth_user_service: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
